<!-- NAVBAR
     ================================================== -->
<div class="navbar-wrapper">
  <!-- Wrap the .navbar in .container to center it within the absolutely positioned parent. -->
  <div class="container">

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Coderslab 2013</a>
        <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ogłoszenia <b class="caret"></b></a>
              <ul class="dropdown-menu">
		<li><%= link_to 'Przejrzyj ogłoszenia', ads_path -%></li>
		<% if user_signed_in? -%>
		  <li><%= link_to 'Moje ogłoszenia', my_ads_path -%></li>
		<% end -%>
                <li class="divider"></li>
		<li><%= link_to 'Dodaj ogłoszenie', new_ad_path -%></li>
              </ul>
            </li>

	    <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wydarzenia <b class="caret"></b></a>
              <ul class="dropdown-menu">
		<li><%= link_to 'Znajdź wydarzenie', events_path -%></li>
		<% if user_signed_in? -%>
		  <li><%= link_to 'Moje wydarzenia', my_events_path -%></li>
		<% end -%>
                <li class="divider"></li>
		<li><%= link_to 'Zorganizuj spotkanie', new_event_path -%></li>
              </ul>
            </li>
          </ul>
	  <% if user_signed_in? -%>
	    <ul class='nav pull-right'>
	      <li class='divider-vertical'></li>
	      <li class='dropdown'>
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" id="menu-settings"><i class='icon-white icon-cog'></i>
		  <b class='caret'></b>
		</a>
		<ul class='dropdown-menu'>
		  <li><%= link_to 'Ustawienia konta', edit_user_registration_path %></li>
		</ul>
	      </li>
	      <li class='divider-vertical'></li>
	      <li>
		<%= link_to(destroy_user_session_path, :method=>'delete') do %>
		  <i class='icon-white icon-off'></i>
		<% end -%>
	      </li>
	    </ul>
	  <% end -%>
	  
        </div><!--/.nav-collapse -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

  </div> <!-- /.container -->
</div><!-- /.navbar-wrapper -->
