<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => '/layouts/common_head' -%>
  </head>
  <body>

    <%= render :partial => '/layouts/common_nav' -%>
	
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <%= bootstrap_flash %>
          <%= yield %>
        </div>
      </div>

      <footer>
        <p>&copy; Coderslab 2013</p>
      </footer>

    </div>

    <%= javascript_include_tag "application" %>

  </body>
</html>
